/* different browsers vary in how much margin or
    padding they apply to the root level document,
    so we force everyone to have the same amount. */
        body
        {
            background-color: #000000;
            margin: 0;
            padding: 0;
        }

        /* It's not typical to include a rule for DIV tags.
   In this case, we have a very limited example, so
   specifying a rule for the DIV tag is expedient. */
        div
        {
            position: absolute;
            margin: 0;
            padding: 0;
            background-color: #00ff00;
        }
        /* This is kind of the "background" of the game, as well
   as a container that can be used to reposition it
   essentially anywhere. */
        #board
        {
            top: 0px;
            left: 0px;
            border-top: solid 10px #00ff00;
            border-bottom: solid 10px #00ff00;
            background-color: #000000;
        }

        /* This is just a visual reference. It doesn't actually
   affect the game play at all. */
        #divider
        {
            top: 0px;
            left: 395px;
            width: 10px;
            height: 410px;
        }

        /* This is kind of cheap, but sometimes you just want something
   done. This is all that suffices for a "title" screen in the
   game. It gives the user a chance to acclimate to the layout
   and start on their own time. */
        button#start
        {
            position: absolute;
            top: 175px;
            left: 230px;
            padding:1em;
            margin:0 auto 0 auto;
            background-color: #000000;
            border:solid 3px #00ff00;
            color: #00ff00;
            font-size:24pt;
        }

        /* Never forget that you need to give quite a bit of feedback
   to the user. This sets up the block of text that will tell
   the user what is going on. */
        #status
        {
            top: 170px;
            left: 95px;
            width: 600px;
            padding: 10px;
            text-align: center;
            background-color: #000000;
            display: none;
            color: #00ff00;
            font-family: fixedsys, Courier, "Courier New" , fixed;
            font-weight: bold;
            font-size: 36pt;
        }